body {
  font-family: "Lato", sans-serif;
  padding-top: 51px;
  font-size: 16px;
  color: #666a72;
}
header #jumbotron,
main > section,
footer {
  padding: 51px 0;
}

.blu_title {
  color: #031c4e;
  font-weight: 700;
}
.white_title {
  color: #ffffff;
  font-weight: 700;
}

/* ----- header ----- */

/* navbar */
.my_navbar.navbar {
  margin-bottom: 0;
}
.my_navbar.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.my_navbar .navbar-brand > img {
  height: 100%;
  margin-right: 50px;
}

.my_navbar .navbar-collapse:first-child {
  margin-left: 50px;
}

.my_navbar.navbar-default .navbar-nav > li > a,
.my_navbar .dropdown-menu > li > a,
.my_navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #031c4e;
}
.my_navbar.navbar-default .navbar-nav > .open > a,
.my_navbar.navbar-default .navbar-nav > .open > a:focus,
.my_navbar.navbar-default .navbar-nav > .open > a:hover {
  color: #ffffff;
  background-color: #2b83ff;
}
.my_navbar .nav .open > a,
.my_navbar .nav .open > a:focus,
.my_navbar .nav .open > a:hover {
  background-color: transparent;
  border-color: #2b83ff;
  border-radius: 2px;
}

.btn_white {
  color: #2b83ff;
  background-color: #ffffff;
  border-color: #2b83ff;
  transition: all 0.2s linear;
}
.btn_white:hover {
  color: #ffffff;
  background-color: #2b83ff;
}

.my_navbar.navbar-default .navbar-toggle {
  border: 0;
}
.my_navbar.navbar-default .navbar-toggle:focus,
.my_navbar.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.my_navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #2b83ff;
}
.my_navbar.navbar-default .navbar-toggle:focus .icon-bar,
.my_navbar.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #031c4e;
}

.my_navbar .dropdown-menu > li > a:focus,
.my_navbar .dropdown-menu > li > a:hover {
  background-color: rgba(43, 131, 255, 0.103);
}

/* jumbotron */
#jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

#jumbotron h1 {
  color: #ffffff;
  font-size: 3.8em;
  font-weight: 700;
}
#jumbotron p {
  color: #adadad;
  font-weight: 700;
}

.login_col {
  background-color: #ffffff;
  padding: 20px 15px;
  border-radius: 5px;
}
.login_col h3.light_blu {
  color: #006aff;
  font-weight: 700;
  margin-top: 10px;
}
.login_col p {
  font-size: 0.5em;
  color: #031c4e;
}
.login_col p > a {
  text-decoration: underline;
  cursor: pointer;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn_login_blue {
  color: #ffffff;
  background-color: #579aff;
  border: 1px solid #579aff;
  /* transition: all 0.2s linear; */
}
.btn_login_blue:hover {
  color: #031c4e;
  border-color: #031c4e;
}

.btn_google {
  position: relative;
}
.btn_google > img {
  height: 15px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* customer */
#customer {
  background-color: #f3f5f9;
  padding: 20px 0;
}
#customer h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}
#customer img {
  cursor: pointer;
}
#customer p {
  margin-top: 20px;
}

/* ----- main ----- */
/* deploy */
#deploy > .container > p {
  margin-bottom: 20px;
}

.my_list .list-group-item {
  border-radius: 0;
  border: 0;
  border-left: 1px solid #ddd;
}

.col_text_block {
  font-size: 0.9em;
}
.col_text_block > img {
  height: 35px;
}

.my_list,
.col_text_block {
  margin-top: 20px;
}

/* developers */
#developers,
#development {
  background-color: #f3f5f9;
}

#developers > .container > p {
  margin-bottom: 40px;
}

figure {
  width: 45%;
  margin: 0 auto;
  min-width: 230px;
}
#developers img {
  width: 100%;
}

figcaption,
#development a {
  font-size: 0.7em;
  margin: 15px 0;
}

.figure_change > a {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 1px;
  border: 1px solid #2b83ff;
  border-radius: 50%;
}
.figure_change a:first-child {
  background-color: #2b83ff;
}
/* carousel */
.fake_carousel {
  position: relative;
}
[class*="chevron"] {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  cursor: pointer;
}
.chevron_sx {
  left: 24%;
}
.chevron_dx {
  right: 24%;
  color: #031c4e;
}

/* service */
#service,
#account {
  background-image: linear-gradient(#0047c5, #00209b);
}
#service table {
  font-size: 0.8em;
}
table tr:first-child > td {
  border-top: 0;
}
table a:hover {
  color: #ffffff;
}

/* development */
#development > .container > h2 {
  margin-bottom: 60px;
}
#development figure {
  padding: 50px 0;
  background-color: #ffffff;
}
#development img {
  width: 50%;
  margin-bottom: 20px;
}

/* account */
#account .btn_white {
  border-color: #ffffff;
}

/* ----- footer ----- */

/* ----- media ----- */
@media screen and (max-width: 991px) {
  /* navbar */
  /* cambio range navbar collapse */
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* jumbotron */
  #jumbotron h1 {
    font-size: 2.4em;
  }
  .login_col h3 {
    font-size: 1.8em;
  }
  .login_col p {
    font-size: 0.6em;
  }
  /* developers */
  figure {
    margin: 40px auto;
  }
  /* development */
  #deployments img {
    width: 90%;
  }
}
